<PluginDeployer>
  <Connections>
    <Connection>
      <Name>Node</Name>
      <OrgId>32b3e3d4-7b42-46b5-8354-88b2d4325564</OrgId>
      <ConnectionString>VXJsPWh0dHBzOi8vbWF0dGFtYWwxLmNybTUuZHluYW1pY3MuY29tO1VzZXJuYW1lPVRpbnVuZWxzb25AbWF0dGFtYWwxLm9ubWljcm9zb2Z0LmNvbTtQYXNzd29yZD1tYWxheWFsYW1AMTIzOw==</ConnectionString>
      <Version>7.1.1.3138</Version>
      <Selected>True</Selected>
    </Connection>
  </Connections>
  <Assemblies>
  </Assemblies>
</PluginDeployer>